{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Татуаж в Киеве{% endblock %}

{% block menu %}
		  <li class="current li-none"><a href="index.html">Главная</a></li>
		  <li><a href="foto-tatuazh.html">Фото</a></li>
		  <li><a href="ceni.html">Цены</a></li>
          <li class="li-left li-none"><a href="otzivi.html">Отзывы</a></li>
          <li><a  href="faq.html" class="moveup" >Вопрос<br>ответ</a></li>
          <li><a href="kontakti.html">Контакты</a></li>
{% endblock %}

{% block content %}
<!--==============================content================================-->
<section id="content">   
    <div class="page1-row1 pad-1">
    <div class="col-1">
      <h2 class="h2 p2">Наша группа:</h2>
  
		<div id="vk_groups" style="padding-top:7px;"></div>
		<script type="text/javascript">
			VK.Widgets.Group("vk_groups", {mode: 0, width: "210", height: "320", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 48361848);
		</script>

    </div>
    <div class="col-2">
      <h2 class="h2 p2">Коротко о татуаже:</h2>
		<p class="p1">
	  С точки зрения потребителя этой услуги перманентный макияж – это возможность выглядеть хорошо при любых обстоятельствах, с минимальной затратой усилий и времени.
		Процедура "Перманентный макияж" – это замечательный способ изменить цвет и форму бровей, век и губ надолго. Слово "Permanent" переводится как стойкий.	
	  С медицинской точки зрения перманентный макияж – это введение красящего вещества (пигмента) в кожу на глубину 0,3 – 0,8мм, то есть на уровень сосочковой (папиллярной) дермы.
	  </p>     
      <div class="clear"></div>
      <h3 class="h3">Мы в социальных сетях:</h3>
      <div class="soc-icons"> 
		<a href="http://vk.com/tatuazh.kiev" target="_blank">
			<img src="{% static 'images/icon-3.png' %}" alt="">
		</a> <a href="#" target="_blank">
			<img src="{% static 'images/icon-2.png' %}" alt="">
		</a> <a href="#" target="_blank">
			<img src="{% static 'images/icon-1.png' %}" alt="">
		</a>
	</div>
    </div>
    <div class="col-3">
      <h2 class="h2 p2">Контакты</h2>
      <div class="adr">
        <p class="p3">
		  <strong>Телефон:</strong>
		  <br>
		  <span class="clr-1">+38 097 916 3480</span><br>		  
          <strong>Почта:</strong>
		  <br>
		  <a href="mailto:kiev.tatuazh@gmail.com" class="clr-1">kiev.tatuazh@gmail.com</a></p>
          <strong>Адрес:</strong>
		<p class="clr-1">г. Киев, ул. Гарматная 47</p>
				
      </div>
    </div>
  </div>
</section>
{% endblock %}